<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Add New Sub Category</h1>
      </div>
    <div class="col-sm-6">
      <a [routerLink]="['/category/sub']" class="pull-right">
           <i class="fa fa-arrow-left"></i>
           <span> back to sub category list</span>
       </a>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
<ngx-spinner [fullScreen]="false">
  <p style="font-size: 20px; color: white">Please Wait...</p>
</ngx-spinner>
<section class="content">
  <div class="container-fluid">
    <form [formGroup]="categoryData" (submit)="submitCategoryCreateForm()" #myform="ngForm" novalidate class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="col-12">
              <label>Name</label>
              <input type="text" class="form-control" placeholder="Game, Action, Cars" formControlName="name">
              <p *ngIf="categoryData.get('name').hasError('required') && myform.submitted" class="error">Name is required</p>
            </div>
            
            <div class="col-12 pt-3" style="display: grid;">
                <label>Main Category</label>
                <ng-select2 
                    [(ngModel)]="subCategoryValues"
                    [ngModelOptions]="{standalone: true}"
                    [allowClear]="true"
                    [data]="masterCategoryList"
                    [placeholder]="'Select Category'"
                    [options]="options"
                    (valueChanged)="checkMainCatergorySelectedOrNot($event)">
                </ng-select2>
            </div>
            <p *ngIf="selectCategoryError == true" class="error">Please Select Atleast 1 Main Category</p>
            
            <div class="col-12 pt-3">
              <button type="submit" class="btn btn-success pull-right">Save</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
