<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Episode Create</h1>
        </div>
      <div class="col-sm-6 content-header">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a [routerLink]="['/video-master/series']">Series/Shows</a></li>
          <li class="breadcrumb-item"><a  [routerLink]="['/video-master/series', series_id,'season']">Season</a></li>
          <li class="breadcrumb-item"><a [routerLink]="['/video-master/series', series_id,'season', season_id, 'episode']">Episode</a></li>
          <li class="breadcrumb-item active">Create</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
  
  <ngx-spinner [fullScreen]="false">
    <p style="font-size: 20px; color: white">Please Wait...</p>
  </ngx-spinner>

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <form [formGroup]="videoData" (submit)="submitVideoAddForm()" #myform="ngForm" novalidate class="card-body">
              <div class="col-12">
                <label>Name</label>
                <input class="form-control" type="text" formControlName="name">
                <p *ngIf="videoData.get('name').hasError('required') && myform.submitted" class="error">Name is
                    required</p>
              </div>
              <div class="col-12">
                <label>Description</label>
                <textarea class="form-control" rows="5" formControlName="description">
                </textarea>
                <p *ngIf="videoData.get('description').hasError('required') && myform.submitted" class="error">Description is required</p>
              </div>
              <div class="row latest-track">
                <div class="col-md-9">
                  <h5>Video</h5>
                </div>
                <div class="col-md-3"><span (click)="openVideoModel()"
                  class="btn btn-default add-artist track-btn"><i class="ion ion-android-add"></i>Add Different Video</span>
                </div>
              </div>
              <div *ngIf="videoList.length > 0">
                <div class="card-body table-responsive p-0">
                  <table class="table table-hover text-nowrap">
                    <thead>
                      <tr>
                        <th width="10%">So. No.</th>
                        <th width="30%">Language</th>
                        <th width="10%">Thumbnail</th>
                        <th width="20%">Movie</th>
                        <th width="30%">Action</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let record of videoList; let i = index">
                      <tr>
                        <td>{{ i+1 }}</td>
                        <td>{{ record.language_name }}</td>
                        <td>
                          <div *ngIf="record.thumbnail != ''">
                            <img style="max-width: 140px;" class="img-responsive" [src]="record.thumbnail">
                          </div>
                          <div *ngIf="record.thumbnail == ''">
                            No Thumbnail 
                          </div>
                        </td>
                        <td>
                            <video style="max-height: 140px; max-width: 250px;" controls>
                              <source [src]="record.video">
                            </video>
                        </td>
                        <td>
                            <span class="btn btn-danger ml-2"><i class="fa fa-trash"></i></span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div *ngIf="videoList.length ==0" class="mt-3 text-center alert alert-danger">
                No Video Added
              </div>
              <button type="submit" class="btn btn-success pull-right mt-5">Save the episode</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  